// Place all the styles related to the operative_records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#target_day_selector {
  position: fixed;
  z-index: 9999;
  background-color: white;
  opacity: 0.5;
  padding: 15px;
  border: 1px solid gray;
  width: 300px;
  right: 9%;
}

#refresh_buttons {
  margin: 15px 0;
}

#target_day_selector:hover {
  opacity: 1;
}
#operative_data_table.table-bordered > tbody > tr > td {
  font-size: 9px;
  vertical-align: middle;
  padding: 2px 10px;
}

#operative_data_table.table-bordered > tbody > tr > td.big-font {
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  width: 300px;
}

#operative_data_table.table-bordered > tbody > tr > td.big-font-header {
  font-size: 16px;
  font-weight: bold;
  width: 300px;
}

#emergency-table > tbody > tr > td {
  vertical-align: middle;
}

td {
  text-align: center;
  vertical-align: middle;
}

.table-bordered > tbody > tr > td {
  border: 1px solid black;
}

td.rotate {
  height: 90px;
  white-space: nowrap;
  vertical-align: middle;
}

td.rotate > div {
  transform: 
    translate(0, 30px)
    rotate(270deg);
  width: 15px;
}

td.rotate > div > span {
  padding: 5px 0px;
}

td.rotate-big {
  height: 50px;
  white-space: nowrap;
  vertical-align: middle;
  width: 5px;
}

td.rotate-big > div {
  transform:
    translate(0, 40px)
    rotate(270deg);
  width: 45px;
}
td.rotate-big > div > span {
  padding: 5px 0px;
}

tbody > tr > td.rotate-sm {
  padding: 0;
}

td.rotate-sm {
  height: 60px;
  white-space: nowrap;
  vertical-align: middle;
  width: 5px;
}

td.rotate-sm > div {
  transform:
    translate(0, 10px)
    rotate(270deg);
  width: 15px;
}
td.rotate-sm > div > span {
  padding: 5px 0px;
}

